.navbar {
    position: fixed;
    bottom: 0;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: lightgray 1px solid;
    padding: 10px 20px;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    color: lightgray;
}

.navbar ul li span {
    font-size: 10px;
    font-weight: 600;
    display: block;
    margin-top: -4px;
    text-align: center;
}

.navbar a {
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 22px;
    color: lightgray;
}

.navbar ul li {
    color: lightgray;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #575757;
}

.navbar a:hover {
    color: #575757;
}

.active-link {
    color: #575757;
}